/**{
    border: 1px solid black;
}*/   
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
.navbar-img{
    width:40px;
    height:40px;
}
.nav-btn{
    width:100%;
    font-size: 20px;
    height:100%;
}
.nav-item:hover{
    background-color: #222034;
    
}
.nav-btn:hover{
    
    color: #df7126 !important;
    
}
.navbar-nav{
    width:40%;
}
#intro{
    height:100%;
}
.navbar{
    position: fixed;
    z-index: 100;
}
.card-btn:hover, .card-btn{
    color: #222034;
    text-decoration: none;
}
.card:hover{
    background-color: #df7126;
    border-radius: 6px;
}
.headtext{
    margin-top: 40px;
}
body{
    background-image: url('/assets/Background-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;

}
.navbar-brand,.headtext,.name{
    font-family: 'Pacifico', cursive;
}
.bg-mask{
    background-image: url(/assets/Background-Mask.png);
}
#contact,#about,#projects{
    width:85%;
    margin:auto;
    position: relative;
}
#contact,#projects{
    margin-top: -5rem;
}
#projects{
    z-index: 2;
}
#contact{
    z-index: 1;
}
#about{
    z-index: 3;
}
.carousel-item{
    height:600px;
}
.carousel-img{
    min-height: 600px;
}
.carousel-img:hover{
    opacity: 0.8;
}