// custom variables
$primary: white; 
$danger: #222034;
$warning: #df7126;
$success: #de874e;
$carousel-control-color: #222034;
$carousel-indicator-active-bg: #222034;
$carousel-caption-color: #222034;
// import bootstrap
@import "bootstrap";
//../node_modules/bootstrap/scss/