@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}
.navbar-img {
  width: 40px;
  height: 40px;
}
.nav-btn {
  width: 100%;
  font-size: 20px;
  height: 100%;
}
.nav-item:hover {
  background-color: #222034;
}
.nav-item:hover > .nav-btn {
  color: #df7126 !important;
}

.social-item:hover > .social-btn {
  color: #df7126 !important;
}
.social-item:hover {
  background-color: #222034 !important;
}
.form-btn:hover {
  background-color: #222034;
  color: #de874e !important;
}
#intro {
  height: 100vh;
}
.ty-link:hover {
  color: #222034 !important;
}
.navbar {
  position: fixed;
  z-index: 100;
}
.card-btn:hover,
.card-btn {
  color: #222034;
  text-decoration: none;
}
.card:hover {
  background-color: #df7126;
  border-radius: 6px;
}
.headtext {
  margin-top: 40px;
}
body {
  background-image: url("../assets/Background-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Josefin Sans", sans-serif;
}
.ty-subheading {
  font-family: "Josefin Sans", sans-serif;
}
.navbar-brand,
.headtext,
.name,
.about-subheading {
  font-family: "Pacifico", cursive;
}
.bg-mask {
  background-image: url("../assets/Background-Mask.png");
}
#contact,
#about,
#projects {
  position: relative;
}
#contact,
#projects {
  margin-top: -5rem;
}
#projects {
  z-index: 2;
}
#contact {
  z-index: 1;
}
#about {
  z-index: 3;
}
.carousel-item {
  height: 50vw;
  min-height: 300px;
  max-height: 600px;
}
.carousel-img {
  height: 50vw;
  min-height: 300px;
  max-height: 600px;
  object-fit: cover;
}
.carousel-img:hover {
  opacity: 0.8;
}
.ty-lh {
  line-height: 65px;
}
@media (max-width: 767px) {
  .nav-item {
    border-left: none !important;
    border-right: none !important;
    border-top: 2px solid #222034;
  }
  .intro-img-col {
    display: none;
  }
  #intro {
    height: 50%;
  }
  .about-img,
  .about-graph {
    width: 100%;
  }
}
@media (min-width: 1580px) {
  #about,
  #projects,
  #contact {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
  }
}
@media (max-width: 500px) and (min-width: 350px) {
  .fs-5 {
    font-size: 1rem !important;
  }
  .carousel-caption > p {
    font-size: 1rem !important;
  }
}
@media (max-width: 550px) {
  .about-graph {
    display: none;
  }
}
@media (max-width: 350px) {
  .fs-5 {
    font-size: 0.75rem !important;
  }
  .carousel-caption > p {
    font-size: 0.75rem !important;
  }
}
@media (max-width: 932px) and (min-width: 500px) {
  .carousel-caption > p {
    font-size: 1.1rem !important;
  }
}
